html {
  font-family: sans-serif;
  width: 95vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #141419; 
}

a{
  background: grey;
  padding: 5px 15px;
  border-radius: 2px;

  text-decoration: none;
  color: white;
  font-weight: 600;
}
a:hover{
  color: #222;
  background: red;
}

.photo{
  height: 100px;
  width: 100px;
  background-color: black;
  border: solid 3px #555;
  border-radius: 5px;
}

.channel{
  width: 90%;
  padding: 10px 30px;
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  background: #2c2a2a;

  overflow: hidden;
}

.details{
  padding: 0px 10px;
  width: 80%;
  border-radius: 5px;
  background: #2c2a2a;
  color : white ;
}

.message{
  width: 90%;
  padding: 5px 20px;
  margin: 30px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  background: #2c2a2a;
  color: white;
  word-wrap: break-word;

  border: 1px solid white;
  border-radius: 5px;
}

button{
  height:80px;
  width: 100px;
  background-color: #ff2424;
  color: white;
  font-size: 2 rem ;
  border-radius: 5px;
}

/*ARTIVLS PUBLISH PAGE*/
#message_box{
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  margin: 20px auto;
  resize: none;
  background: #ccc;

  font-family: sans-serif;
  font-size: 1.5rem;
}

#pub_usr_name, #sub_usr_name{
  height: 2rem;
  width: 15%;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}

#sub_usr_name{
  line-height: 2rem;
  font-size: 1rem;
  color: black;
  background: white;
}

@media only screen and (max-width: 400px){
#sub_usr_name{
  width: 30%;
}
}

#publish_btn{
  position: relative;
  float: right;
  width: 30%;
  height: 5rem;
  margin: 0 5%;
  font-size: 1.5rem;
  font-weight: 1000;
}